{% extends "./base.html"%}
{% block title %}Reset password{% endblock %}
{% block content%}
<style>
      #email, #password, #username, #account_number, #account_name, #bank_name, #mobile_number, #bitcoin_wallet, #confirm_password, #country{
      border-color: rgb(175, 175, 175)
  }

  #button{
      background-color: {{context.theme}};
  }
</style>

<div class="bg-white h-full md:px-24 sm:px-4 pt-8 mheight">
    <h1 class="text-4xl font-bold text-{{context.theme}}-700">Change Password</h1>
    <br>    
    {% from "_formhelpers.html" import render_field %}
        <form method="post">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.password, class="border-2 placeholder-text-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="your e-mail") }}
                {{ render_field(form.confirm_password, class="border-2 placeholder-text-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="your e-mail") }}
                {{ render_field(form.token, class="border-2 placeholder-text-lg md:w-5/5 sm:3/5 px-4 mt-1 mb-2 md:py-4 sm:py-2 sm:px-2 sm:w-full md:w-lg", placeholder="Password recovery mail") }}
            </dl>
            {{ form.submit(id="button", class="bg-{{context.theme }}-500 hover hover:bg-{{context.theme }}-700 shadow-sm:hover text-white p-1 rounded-lg sm:mt-2 md:mt-2 md:py-4 md:px-8 sm:py-2 sm:px-4 sm:text-md md:text-lg sm:w-full mt-2 md:w-lg") }}
        </form>
    </div>
    <br>
    <br>
    {% endblock %}

